{% set originalField = field %}
{% do originalField.populateValue(value, submission) %}
{% set field = originalField.getDisplayTypeField() %}
{% set value = originalField.getDisplayTypeValue(value) %}

{% if originalField.displayType == 'dropdown' %}
  {% if originalField.handle == 'providerListing' %}
    <p class="mb-2 text-xs text-slate-400">Only listings without a manager account appear here.</p>
  {% endif %}
  {{ formieInclude('fields/dropdown') }}
{% endif %}

{% if originalField.displayType == 'checkboxes' %}
  {{ formieInclude('fields/checkboxes') }}
{% endif %}

{% if originalField.displayType == 'radio' %}
  {{ formieInclude('fields/radio') }}
{% endif %}
