{% hook 'formie.field.field-before' %}

{% set renderOptions = renderOptions ?? {} %}
{% set element = element ?? null %}
{% set _fromRenderOptions = renderOptions.value|default(null) %}
{% set _fromElement = element ? element.getFieldValue(field.handle) : null %}
{% set _defaultVal = field.normalizeValue(field.getDefaultValue(), null) %}
{% set value = value ?? _fromRenderOptions %}
{% set value = value ?? _fromElement %}
{% set value = value ?? _defaultVal %}
{% set errors = element ? element.getErrors(field.handle) : [] %}
{% set isFullName = field.handle == 'fullName' %}
{% set fullNameValue = isFullName ? (value|default('')|trim) : '' %}
{% set hideFullName = isFullName and fullNameValue == '' %}
{% set isAgree = className(field) == 'verbb\\formie\\fields\\Agree' %}

<div
  class="formie-field-wrapper w-full min-w-0 mb-4{% if hideFullName %} hidden{% endif %}"
  {% if isFullName %}data-register-fullname-field data-required="{{ field.required ? '1' : '0' }}"{% endif %}
  {% if hideFullName %}hidden{% endif %}
>
  {% hook 'formie.field.field-start' %}

  {{ formieInclude('_includes/instructions', { position: 'above' }) }}

  <div class="w-full min-w-0">
    {% if not isAgree %}
      {{ formieInclude('_includes/label', { position: 'above' }) }}
    {% endif %}

    <div class="formie-input-block w-full min-w-0">
      {% hook 'formie.field.input-before' %}
      {{ field.getFrontEndInputHtml(form, value, renderOptions | merge({
        submission: element,
        errors: errors,
      })) }}
      {% hook 'formie.field.input-end' %}
    </div>

    {{ formieInclude('_includes/instructions', { position: 'below' }) }}

    {% if errors %}
      {{ formieInclude('_includes/field-errors') }}
    {% endif %}
  </div>

  {% hook 'formie.field.field-end' %}
</div>

{% hook 'formie.field.field-after' %}
