{% extends '_layouts/site' %}

{% set pageHeading = 'Contact' %}
{% set omitSubheading = true %}
{% set activeNav = 'contact' %}

{% block content %}
  <main class="pb-12">
    <section class="mx-auto max-w-6xl px-4 pt-6 sm:px-6 md:pt-8 lg:px-8">
      <div class="max-w-3xl text-base leading-relaxed text-slate-300">
        <p>Coming soon…</p>
      </div>
    </section>
  </main>
{% endblock %}
